/*div
{
    border-color:  transparent rgb(74, 240, 74) transparent transparent ;
    border-width: 10px;
    border-style: solid;
    width:0px;
    height:0px;
}*/
img
{
    width:60px;
    height:60px;
    border-radius:50%;
}
.a img
{
    float:left;
}
.b img
{
    float:right;
}
.textLeft, .textRight
{
    height: 85px;
    margin: 20px 80px;
    padding:5px;
    border-radius:10px;
}
.textLeft
{
    background-color: lightblue;
}
.textRight
{
    background-color: lightpink;
}
.tLeft
{
    border-color:  transparent lightpink transparent transparent ;
    border-width: 10px;
    border-style: solid;
    width:0px;
    height:0px;
    float:left;
    margin-top:10px;
}
.tRight
{
    border-color:  transparent transparent transparent lightblue ;
    border-width: 10px;
    border-style: solid;
    width:0px;
    height:0px;
    float:right;
    margin-top:10px;
}